
$base-padding: 8px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.menu-xs-hide {
	display: none;
	@media screen and (min-width: $sm) {
		display: block;
	}
}

@mixin container {
	box-sizing: border-box;
	width: 100%;
	padding: $base-padding;

	@media screen and (min-width: $lg) {
		margin: 0 auto;
		width: 800px;
	}
	@media screen and (min-width: $xl) {
		margin: 0 auto;
		width: 900px;
	}
}

header {
	@include container;
	@media (min-width: $sm) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.xs-wrapper {
		padding: $base-padding;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		@media screen and (min-width: $sm) {
			display: block;
		}

		h1 {
			margin: 0;
			font-weight: 400;
		}

		.menu-icon {
			margin: 0 $base-padding;
			display: inline-block;	
			cursor: pointer;

			.bar1, .bar2, .bar3 {
				width: 33px;
				height: 4px;
				margin: 5px 0;
				background: #333;
				border-radius: 5px;
			}

			@media screen and (min-width: $sm) {
				display: none;
			}
		}

	}

	nav {
		padding: 0 $base-padding;
		position: relative;
		top: 0;

		a {
			padding: 1.5 * $base-padding;
			color: black;
			text-decoration: none;
			display: block;

			@media screen and (min-width: $sm) {
				display: inline;
			}

			&:hover {
				background: #2980B033;
			}
			&.active-menu-item {
				color: white;
				background: #2980B9;
			}
		}

		@media screen and (min-width: $sm) {
			display: flex;
			flex-direction: row;
		}
	}
}

article {
	@include container;
}

footer {
	@include container;

	.encrypted-mail{
		unicode-bidi: bidi-override;
		direction: rtl;
	}
}
