body {
	width: 100%;
}

header {
	position: static;
	top: 0;
	border-bottom: 1px solid black;
	padding: 0 8px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

	font-family: monospace;

	h1 {
		margin: 10px 0;
		font-family: 2rem;
	}

	nav {
		flex-basis: 100%;
		text-align: center;

		a {
			font-size: 1.3rem;
		}
	}
}

main {
	width: 100%;
	position: absolute;
	top: 6rem;
	display: flex;
	flex-direction: column-reverse;

	aside {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		section {
			margin: 5px;
		}
		img {
			margin: 5px;
			width: 110px;
			height: auto;
			border-radius: 100%;
		}
	}
	article {
		border-bottom: 1px solid grey;
		margin-bottom: 10px;
	}
}
