<!doctype html>
<html>
	<head>
		<title>{{page.title}} | Luca Wellmeier</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/assets/style.css">
		<script type="text/javascript" src="/assets/functions.js"></script>
		<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	</head>
	<body>
		<header>
			<div class="xs-wrapper">
				<h1>luca wellmeier</h1>
				<div class="menu-icon" onclick="toggleMenu()">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
			</div>
			<nav>
				{% for item in site.data.navigation %}
				<a href="{{ item.link }}" 
						{% if page.url == item.link %}class="active-menu-item"{% endif %}>
					{{ item.name }}
				</a>
				{% endfor %}
			</nav>
		</header>
		<hr>
		<article>
			{{ content }}
		</article>
		<hr>
		<footer>
			<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#108;&#117;&#99;&#97;&#95;&#119;&#101;&#108;&#108;&#109;&#101;&#105;&#101;&#114;&#64;&#103;&#109;&#120;&#46;&#100;&#101;">&#108;&#117;&#99;&#97;&#95;&#119;&#101;&#108;&#108;&#109;&#101;&#105;&#101;&#114;&#64;&#103;&#109;&#120;&#46;&#100;&#101;</a>
		</footer>
	</body>
</html>
